.flex-container {
    display: flex;
    background-color: rgba(0, 0, 255, 0.3);
    height: 300px;
    justify-content: center;
    align-items: center;
}

.flex-item {
    padding: 40px;
    color: white;
    font-weight: bold;
}
  
.red {
    background-color: #db2828;
}

.green {
    background-color: #21ba45;
    align-self: flex-start;
    
}

.blue {
    background-color: #6435c9;
}
  